#!/usr/bin/make -f

build:
	dh_testdir
	mkdir -p debian/build
	cd debian/build && cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../tmp/usr -DCMAKE_CXX_FLAGS:STRING="-DFX2_FIRMWARE_DIR=\\\"/usr/share/osqoop\\\"" ../..
	cd debian/build && VERBOSE=1 $(MAKE) && VERBOSE=1 $(MAKE) install

clean:
	dh_testdir
	rm -rf debian/files debian/substvars debian/tmp debian/build

binary­indep: build

binary-arch: build
	dh_testdir
	rm -rf debian/tmp
	install -d debian/tmp/DEBIAN
	install -d debian/tmp/usr/bin
	install -d debian/tmp/usr/share/doc/osqoop
	install -d debian/tmp/usr/share/doc/osqoop/manual
	install -d debian/tmp/usr/share/osqoop
	install -d debian/tmp/usr/share/osqoop/processing
	install -d debian/tmp/usr/share/osqoop/datasource
	cp debian/changelog debian/tmp/usr/share/doc/osqoop/changelog.Debian
	cp debian/copyright debian/tmp/usr/share/doc/osqoop/
	cp changelog debian/tmp/usr/share/doc/osqoop
	cp authors debian/tmp/usr/share/doc/osqoop
	cp -r doc/manual/* debian/tmp/usr/share/doc/osqoop/manual
	cp -r debian/build/processing/*.so debian/tmp/usr/share/osqoop/processing
	cp -r debian/build/datasource/*.so debian/tmp/usr/share/osqoop/datasource
	cp debian/build/osqoop debian/tmp/usr/bin
	cp debian/build/osqoop-setupfx2 debian/tmp/usr/share/osqoop
	cp helper/tseadextfw.hex debian/tmp/usr/share/osqoop/
	dh_strip
	dh_compress
	#dh_shlibdeps
	dh_fixperms
	chmod 4755 debian/tmp/usr/share/osqoop/osqoop-setupfx2
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary­indep
